.mobileHome {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: azure;
  .routerView {
    width: 100%;
    height: 100%;
  }
  .tabBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    // height: 5vh;
  }
}
